Assignment on Data Types and Sructures

1. What are data structures, and why are they important?
  - Data structures are specialized formats for organizing and storing data in computers. They are the building blocks of efficient algorithms and software development. They are like containers or blueprints that determine how data is arranged and accessed. They are important because:  
  Efficiency: Different data structures are optimized for different operations. Choosing the right one can significantly improve the performance of your programs in terms of time and space complexity.  
  Organization: Data structures provide a structured way to organize data, making it easier to manage, search, and manipulate.  
  Problem-solving: Many algorithms are designed around specific data structures. Understanding them is crucial for developing efficient solutions to complex problems.  
  Real-world applications: Data structures are used in various fields, including databases, operating systems, artificial intelligence, and more.


2. Explain the difference between mutable and immutable data types with examples.
  - Mutable vs. Immutable Data Types in Python  
  Mutable Data Types:  
  Mutable data types can be changed or modified after they are created. This means one can add, remove, or modify elements within the data structure.
  eg. Lists, Dictionaries, Sets.  
  Immutable Data Types:  
  Immutable data types cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value.  
  eg. Numbers, Strings, Tuples.


3. What are the main differences between lists and tuples in Python?
  - Both lists and tuples are fundamental data structures in Python used to store collections of elements. However, they have key differences that make them suitable for different use cases.  
  Lists: Mutable, meaning one can change their elements after creation. You can add, remove, or modify elements within a list. They are enclosed in Square bracket  
  Tuples: Immutable, meaning their elements cannot be changed once they are created. This makes tuples ideal for representing fixed data that shouldn't be modified. They are enclosed in parentheses. Generally faster than lists, especially for read operations, due to their immutability.

4.  Describe how dictionaries store data.
  - Dictionaries store data in a key-value pair format. This means that for each piece of information we want to store, we provide a unique identifier (the key) and associate it with the actual value we want to remember.  
  eg. my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}  
  In this example:
  'name', 'age', and 'city' are the keys.  
  'Alice', '30', and 'New York' are the corresponding values.

5. Why might you use a set instead of a list in Python?
  -

In [ ]:
# 1.  Write a code to create a string with your name and print it.

My_name = "Falgu"
print(My_name)

Falgu

In [ ]:
# 2.  Write a code to find the length of the string "Hello World".

string1 = "Hello World"
len(string1)

11

In [5]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"

my_string = "Python programmin"
sliced_string= my_string[:3]
print(sliced_string)

Pyt

In [6]:
# 4.  Write a code to convert the string "hello" to uppercase.

upp_string= "hello".upper()
print(upp_string)

HELLO

In [9]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple.

string1= "I love apple"
string1.replace("apple", "orange")

'I love orange'

In [11]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.

my_list= list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

In [14]:
#  7. Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list= [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [15]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list1= [1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [16]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list1= ['a','b','c','d']
list1[1]

'b'

In [19]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

list1= [10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [20]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

tup= (10,20,30)
print(tup)

(10, 20, 30)

In [21]:
# 12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

tup= ("apple","banana","cherry")
tup[0]

'apple'

In [22]:
# 13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tup= (1,2,3,2,4,2)
tup.count(2)

3

In [23]:
#  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tup= ('dog','cat','rabbit')
tup.index('cat')

1

In [24]:
# 15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

tup= ('apple','orange','banana')
'banana' in tup

True

In [25]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

set1= {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [28]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}

set1= {1,2,3,4}
set1.add(6)
set1

{1, 2, 3, 4, 6}

In [ ]:
# repeated question from questuion no 18-24